/* Animation for gradient spinner */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Button pseudo-elements for glass effect */
.readBlogsBtn::before,
.starGithub::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 106%;
  height: 130%;
  z-index: -1;
  border-radius: inherit;
  transition: all 0.3s;
}

.readBlogsBtn:hover::before {
  transform: translate(-50%, -50%) scale(0.98);
  filter: blur(5px);
}

/* Pseudo-element striped borders */
.section-striped::before,
.section-striped::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3%;
  height: 100%;
  background: repeating-linear-gradient(-45deg, 
    #8888889c, #2e242471 2px,
    transparent 1px, transparent 8px);
  z-index: 1;
}

.section-striped::before {
  left: 0;
}

.section-striped::after {
  right: 0;
}
